

<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">
      <!-- Content -->
        <div id="content" class="12u 12u(mobile)">
          <h2><%= @category.name %></h2>
          <h5><%= simple_format(@category.description)%></h5>
        </div>

        <div id="content" class="8u 12u(mobile)">
          <!-- Post -->
          <% @category.posts.order(:created_at).each do |post| %>
            <article class="post box" style="box-shadow: none;">
              <header>
                <h2><a href="#"><%= post.title%></a></h2>
              </header>
              <a href="#" class="image featured"><%= image_tag post.main_image %></a>
              <h3><%= post.pub_date %></h3>
              <%= strip_tags(post.body).truncate(200) %>
              <ul class="actions">
                <li><%= link_to 'Continue Reading', public_show_path(post.slug) %></a></li>
              </ul>
            </article>
          <% end %>
        </div>
        <div id="sidebar" class="4u 12u(mobile)">
          <%= render 'static_pages/sidebar' %>
        </div>
          <% if @category.posts.nil? %>
            <br />
            <br />
            <hr />
            <h2>Posts Comming Soon!</h2>
          <% end %>
        <!-- Sidebar -->


    </div>
  </div>
</div>
