<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Three Peas in a Pod</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/css/ie/html5shiv.js"></script><![endif]-->
    <%= stylesheet_link_tag("public") %>
		<!-- <%= stylesheet_link_tag("font-awesome.min.scss") %> -->

		<!-- <link rel="stylesheet" href="assets/font-awesome.min.scss" /> -->
		<!--[if lte IE 8]><script src="assets/css/ie/respond.min.js"></script><![endif]-->
		<!-- Scripts -->
		<%= javascript_include_tag "jquery-1.11.3.min.js" %>
		<%= javascript_include_tag "jquery.dropotron.min.js" %>
		<%= javascript_include_tag "skel.min.js" %>
		<%= javascript_include_tag "skel-viewport.min.js" %>
		<%= javascript_include_tag "util.js" %>
		<%= javascript_include_tag "main.js" %>

	</head>
	<body class="homepage">
		<div id="page-wrapper">
			<%= render 'layouts/public_header'%>
			<%= yield %>
			<%= render 'layouts/public_footer'%>
		</div>
	</body>
</html>
